<extend name="Public/base"/>

<block name="body">
    <!-- 标题 -->
    <div class="main-title">
        <h2>
            {$title|htmlspecialchars}
        </h2>
    </div>

    <!-- 按钮工具栏 -->
    <div class="cf">
        <div class="fl">
            <volist name="buttonList" id="button">
                <{$button.tag} {$button.attr}>{$button.title|htmlspecialchars}</{$button.tag}>
            </volist>
        </div>
    </div>

    <!-- 数据表格 -->
    <div class="data-table">
        <table>
            <!-- 表头 -->
            <thead>
            <tr>
                <th class="row-selected row-selected">
                    <input class="check-all" type="checkbox"/>
                </th>
                <volist name="keyList" id="field">
                    <th>{$field.title|htmlspecialchars}</th>
                </volist>
            </tr>
            </thead>

            <!-- 列表 -->
            <tbody>
            <volist name="list" id="e">
                <tr>
                    <td><input class="ids" type="checkbox" value="{$e['id']}" name="ids[]"></td>
                    <volist name="keyList" id="field">
                        <td>{$e[$field['name']]}</td>
                    </volist>
                </tr>
            </volist>
            </tbody>
        </table>
    </div>
    <!-- 分页 -->
    <div class="page">
        {$pagination}
    </div>
    </div>

</block>