<!DOCTYPE HTML>
<html>
<head>
<include file="Public/head" />
<script type="text/javascript" src="__JS__/index.js"></script>
<link href="__CSS__/index.css" rel="stylesheet" />
</head>
<body>
	<include file="Public/header" />
	<div id="main-container" class="container">
		<div class="row">
			<!-- left side -->
			<div class="col-xs-9">
				<!-- index-ad-scroll start -->
				<div class="row">{:W('IndexAd/lists')}</div>
				<!-- index-ad-scroll end -->
				<!-- index-recommend-game start -->
				<div class="row">
					<div class="col-xs-12  column-content">
						<div class="column-content-title">
							<i class="title-tip-box"></i> <span class="title-tip"><a
								href="#">最新竞猜</a></span> <span class="recommend-tag"> <a
								href="#">德玛西亚杯</a> <a href="#">LPL职业联赛</a> <a href="#">LOL全明星赛</a>
								<a href="#">韩国ONG</a> <a href="#">G联赛</a> <a href="#">LSPL甲级联赛</a>
								<a href="#">LCS联赛</a>
							</span> <span class="pull-right"> <a href="#">更多竞猜</a></span>
						</div>
					</div>
					<div class="col-xs-12  column-content">
						{:W('IndexGuess/lists')}</div>
				</div>
				<div class="row"></div>
				<!-- index-ad-scroll end -->
				<!-- index-recommend-game start -->
				<div class="row">
					<div class="col-xs-12  column-content">
						<div class="column-content-title">
							<i class="title-tip-box"></i> <span class="title-tip"><a
								href="#">热门游戏</a></span> <span class="recommend-tag"> <a
								href="#">若风</a> <a href="#">草莓</a> <a href="#">Faker</a> <a
								href="#">WE</a> <a href="#">CG</a> <a href="#">韩国选手</a> <a
								href="#">Froggen</a> <a href="#">BestRivenNa</a> <a href="#">M5战队</a>
							</span> <span class="pull-right"> <a href="#">更多游戏</a></span>
						</div>
					</div>
					<div class="col-xs-12  column-content">
						{:W('IndexGames/lists')}</div>
				</div>
				<!-- index-recommend-game end -->
				<!-- index-recommend-live start -->
				<div class="row">
					<div class="col-xs-12  column-content">
						<div class="column-content-title">
							<i class="title-tip-box"></i> <span class="title-tip"><a
								href="#">热门直播</a></span> <span class="recommend-tag"> <a
								href="#">小智解说</a> <a href="#">MISS排位日记</a> <a href="#">小苍解说</a>
								<a href="#">JY解说</a> <a href="#">小漠解说</a> <a href="#">若风解说</a>
							</span> <span class="pull-right"> <a href="#">更多直播</a></span>
						</div>

					</div>
					<div class="col-xs-12  column-content">

						{:W('IndexLives/lists')}</div>

				</div>

				<!-- index-recommend-live end -->


				<div class="row">

					<div class="col-xs-12  column-content">
						<div class="column-content-title">
							<i class="title-tip-box"></i> <span class="title-tip"><a
								href="#">最新视频</a></span> <span class="recommend-tag"> <a
								href="#">经典视频</a> <a href="#">高手视频</a> <a href="#">精彩击杀</a> <a
								href="#">史时时刻</a> <a href="#">英雄视频</a> <a href="#">解说视频</a>
							</span> <span class="pull-right"> <a href="#">更多视频</a></span>
						</div>

					</div>
					<div class="col-xs-12  column-content">



						{:W('IndexVideos/lists')}</div>

				</div>

				<!-- recommend-video-end -->


				<div class="row">

					<div class="col-xs-12  column-content">
						<div class="column-content-title">
							<i class="title-tip-box"></i> <span class="title-tip"><a
								href="#">热门战队</a></span> <span class="recommend-tag"> <a
								href="#">SKT</a> <a href="#">OMG</a> <a href="#">WE</a> <a
								href="#">EDG</a> <a href="#">IG</a> <a href="#">EP</a> <a
								href="#">FNC</a> <a href="#">C9</a> <a href="#">GG</a> <a
								href="#">LGD</a>
							</span> <span class="pull-right"> <a href="#">更多战队</a></span>
						</div>

					</div>
					<div class="col-xs-12  column-content">

						{:W('IndexTeams/lists')}</div>
				</div>

				<!-- hot-team-list end -->
				<div class="row">

					<div class="col-xs-12  column-content">
						<div class="column-content-title">
							<i class="title-tip-box"></i> <span class="title-tip"><a
								href="#">解说视频</a></span> <span class="recommend-tag"> <a
								href="#">LPL比赛</a> <a href="#">SWL比赛</a> <a href="#">LCS比赛</a> <a
								href="#">YSL比赛</a> <a href="#">OGN比赛</a> <a href="#">EP</a> <a
								href="#">全明星赛</a>
							</span> <span class="pull-right"> <a href="#">更多视频</a></span>
						</div>
					</div>
					<div class="col-xs-12  column-content">
						{:W('IndexLives/lists')}</div>
				</div>
				<!-- hot-team-list end -->
				<div class="row">
					<div class="col-xs-12  column-content">
						<div class="column-content-title">
							<i class="title-tip-box"></i> <span class="title-tip"><a
								href="#">高手视频</a></span> <span class="recommend-tag"> <a
								href="#">LPL比赛</a> <a href="#">SWL比赛</a> <a href="#">LCS比赛</a> <a
								href="#">YSL比赛</a> <a href="#">OGN比赛</a> <a href="#">EP</a> <a
								href="#">全明星赛</a>
							</span> <span class="pull-right"> <a href="#">更多视频</a></span>
						</div>
					</div>
					<div class="col-xs-12  column-content">
						{:W('IndexLives/lists')}</div>
				</div>
			</div>
			<!-- right side -->
			<div class="col-xs-3">
				<div>
					<div class="right-want-box">
						<div class="row">
							<div class="col-xs-2">
								<span class=" glyphicon glyphicon-facetime-video want-box-icon "></span>
							</div>
							<div class="col-lg-4">
								<a href="#" class="want-box-text" rel="nofollow">我要直播</a>
							</div>
							<div class="col-xs-1">
								<span class="glyphicon glyphicon-share want-box-share-icon "></span>
							</div>
							<div class="col-xs-4">
								<a href="#" class="want-box-text" rel="nofollow">分享视频</a>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12  column-content">
							<div class="column-content-title">
								<i class="title-tip-box"></i> <span class="title-tip"><a
									href="#">最新比赛</a></span> <span class="pull-right"> <a href="#">更多比赛</a></span>
							</div>
							{:W('IndexMatchGame/lists')}
						</div>
					</div>
					<!-- game time end -->
					<div class="row">
						<div class="col-xs-12  column-content">
							<div class="column-content-title">
								<i class="title-tip-box"></i> <span class="title-tip"><a
									href="#">热门主播</a></span> <span class="pull-right"> <a href="#">更多主播</a></span>
							</div>
							{:W('IndexAnchors/lists')}
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12  column-content">
							<div class="column-content-title">
								<i class="title-tip-box"></i> <span class="title-tip"><a
									href="#">最新约战</a></span> <span class="pull-right"> <a href="#">更多约战</a></span>
							</div>
							{:W('IndexFights/lists')}
						</div>
					</div>
					<!-- fight end -->
					<div class="row">
						<div class="col-xs-12  column-content">
							<div class="column-content-title">
								<i class="title-tip-box"></i> <span class="title-tip"><a
									href="#">推荐专题</a></span> <span class="pull-right"> <a href="#">更多专题</a></span>
							</div>
							{:W('IndexAlbums/lists')}

						</div>
					</div>
					<div class="row">
						<div class="col-xs-12  column-content">
							<div class="column-content-title">
								<i class="title-tip-box"></i> <span class="title-tip"><a
									href="#">热门解说</a></span> <span class="pull-right"> <a href="#">更多解说</a></span>
							</div>

							{:W('IndexCommentator/lists')}
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		$(function() {
			$(window).resize(
					function() {
						$("#main-container").css("min-height",
								$(window).height() - 343);
					}).resize();
		});
	</script>
	<!-- /主体 -->

	<!-- 底部 -->
	<include file="Public/footer" />
	<!-- /底部 -->
</body>
</html>