<extend name="Public/base" />

<block name="body">
<!-- 标题栏 -->
<div class="main-title">
<h2>比赛列表</h2>


</div>
<div class="cf">
<div class="fl"><a class="btn"
	href="{:U('MatchGameDetail/add?matchgameid='.$matchgameid)}">新 增</a>
<button class="btn ajax-post confirm"
	url="{:U('MatchGameDetail/changeStatus',array('method'=>'deleteMatchGameDetail'))}"
	target-form="ids">删 除</button>
</div>

<!-- 高级搜索 -->
<div class="search-form fr cf">
<div class="sleft"><input type="text" name="nickname"
	class="search-input" value="{:I('nickname')}" placeholder="团队名称或者ID">
<a class="sch-btn" href="javascript:;" id="search" url="{:U('index')}"><i
	class="btn-search"></i></a></div>
</div>
</div>
<!-- 数据列表 -->
<div class="data-table table-striped">
<table class="">
	<thead>
		<tr>
			<th class="row-selected row-selected"><input class="check-all"
				type="checkbox" /></th>
			<th class="">GID</th>
			<th class="">蓝方</th>
			<th class="">红方</th>
			<th class="">场序</th>
			<th class="">结果</th>
			<th class="">状态</th>
			<th class="">操作</th>
		</tr>
	</thead>
	<tbody>
		<notempty name="_list">
		<volist name="_list" id="vo">
		<tr>
			<td><input class="ids" type="checkbox" name="id[]"
				value="{$vo.id}" /></td>
			<td>{$vo.id}</td>
			<td>{$vo.blue_team}</td>
			<td>{$vo.red_team}</td>
			<td>{$vo.game_order}</td>
			<td>{:query_team('name',$vo['winner'])}</td>
			<td>{$vo.status}</td>
			<td>
			  <a
				href="{:U('MatchGameDetail/edit?id='.$vo['id'].'&&matchagemid='.$matchgameid)}" class="authorize">编辑</a>
			<a
				href="{:U('MatchGameDetail/delete?id='.$vo['id'].'&&matchgameid='.$matchgameid)}"
				class="confirm ajax-get">删除</a></td>

		</tr>
		</volist>
		<else />
		<td colspan="9" class="text-center">aOh! 暂时还没有内容!</td>
		</notempty>
	</tbody>
</table>
</div>
<div class="page">{$_page}</div>
</block>

<block name="script">
<script src="__STATIC__/thinkbox/jquery.thinkbox.js"></script>

<script type="text/javascript">
        //导航高亮
        highlight_subnav("{:U('User / index')}");
    </script>
</block>