<extend name="Public/base"/>

<block name="body">
    <div class="main-title">
        <h2>{:isset($live['id'])?'编辑':'新增'}房间</h2>
    </div>
    	<script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>
    <form action="{:U()}" method="post" class="form-horizontal" >
        <div class="form-item">
            <label class="item-label">房间名称<span class="check-tips">（房间名称昵称）</span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="title" value="{$live.title|default=''}">
            </div>
        </div>
              <div class="form-item">
            <label class="item-label">房间标签<span class="check-tips">（房间标签）</span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="tags" value="{$live.tags|default=''}">
            </div>
        </div>
        
        <div class="form-item">
            <label class="item-label">UID<span class="check-tips">（用户ID）</span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="uid" value="{$live.uid|default='1'}">
            </div>
        </div>
       
       
       <div class="form-item">
            <label class="item-label">来之直播<span class="check-tips">（是什么游戏的房间）</span></label>
                    <div class="controls">
                <select name="from_site">
                    	  <volist name="sites" id="site">
                        <option value="{$site['id']}"  <eq name="$site['from_site']" value="$live.from_site"> selected</eq>>{$site.title}</option>
               
                 </volist>
                </select>
            </div>
        </div>
        
               <div class="form-item">
            <label class="item-label">直播地址<span class="check-tips">（flash_url）</span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="flash_url" value="{$live.flash_url|default=''}">
            </div>
        </div>
        
        
        <div class="form-item">
            <label class="item-label">归属游戏<span class="check-tips">（是什么游戏的房间）</span></label>
                    <div class="controls">
                <select name="game_id">
                    <volist name="games" id="game">
                    	 
                        <option value="{$game.id}"  <eq name="live['game_id']" value="$game.id"> selected</eq>>{$game.title_show}</option>
                    </volist>
                </select>
            </div>
        </div>
        
        
         <div class="form-item">
						<label class="item-label">房间封面</label>
						<input type="file" id="upload_picture">
						<input type="hidden" name="cover" id="cover" value="{$live['cover']|default=''}"/>
						<div class="upload-img-box">
						<notempty name="live['cover']">
							<div class="upload-pre-item"><img src="{$live.cover|get_cover='url'}"/></div>
						</notempty>
						</div>
					</div>
					<script type="text/javascript">
					//上传图片
				    /* 初始化上传插件 */
					$("#upload_picture").uploadify({
				        "height"          : 30,
				        "swf"             : "__STATIC__/uploadify/uploadify.swf",
				        "fileObjName"     : "download",
				        "buttonText"      : "上传图片",
				        "uploader"        : "{:U('File/uploadLivePic',array('session_id'=>session_id()))}",
				        "width"           : 120,
				        'removeTimeout'	  : 1,
				        'fileTypeExts'	  : '*.jpg; *.png; *.gif;',
				        "onUploadSuccess" : uploadLivePic,
				        'onFallback' : function() {
				            alert('未检测到兼容版本的Flash.');
				        }
				    });
					function uploadLivePic(file, data){
				    	var data = $.parseJSON(data);
				    	var src = '';
				        if(data.status){
				        	$("#cover").val(data.id);
				        	src = data.url;
				        	$("#cover").parent().find('.upload-img-box').html(
				        		'<div class="upload-pre-item"><img src="' + src + '"/></div>'
				        	);
				        } else {
				      
				        	updateAlert(data.info);
				        	setTimeout(function(){
				                $('#top-alert').find('button').click();
				                $(that).removeClass('disabled').prop('disabled',false);
				            },1500);
				        }
				    }
					</script>
					
					
           <div class="form-item">
            <label class="item-label">房间介绍<span class="check-tips">（房间名称昵称）</span></label>
            <div class="controls">
            <label class="textarea input-large">
				<textarea name="description">{$live.description|default=''}</textarea>
			</label>
            </div>
        </div>
        <div class="form-item">
        <input type="hidden" name="id" value="{$live.id|default=''}">
            <button class="btn submit-btn ajax-post" id="submit" type="submit" target-form="form-horizontal">确 定</button>
            <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
        </div>
    </form>
</block>

<block name="script">
    <script type="text/javascript">
        //导航高亮
        highlight_subnav('{:U('User/index')}');
    </script>
</block>
