<div>
    <div class="uc_link_block clearfix col-xs-12">
        <div class="uc_link_top clearfix">
            <div class="uc_title">
                <if condition="$uid eq is_login()">我<else/>TA</if>的关注({$follow_totalCount|default=0})
            </div>
            <div class="uc_fl_right uc_more_link"><a href="{:U('following',array('uid'=>$uid))}">更多</a></div>
        </div>
        <div class="col-md-12 uc_link_info">
            <volist name="follow_default" id="fl">
                <div class="col-sm-3 col-xs-4">
                    <dl>
                        <a href="{$fl.user.space_url}">
                            <dt><img ucard="{$fl.user.uid}" src="{$fl.user.avatar64}" class="avatar-img img-responsive">
                            </dt>
                            <dd ucard="{$fl.user.uid}" class="text-more" style="width: 100%">{$fl.user.nickname}</dd>
                        </a>
                    </dl>
                </div>
            </volist>
            <if condition="count($follow_default) eq 0"><p style="text-align: center; font-size: 24px;">
                <br><br>
                暂无关注任何人哦～
                <br><br><br>
            </p></if>
        </div>

    </div>
    <div class="uc_link_block clearfix col-xs-12" style="margin-top: 10px;">
        <div class="uc_link_top clearfix">
            <div class="uc_title">
                <if condition="$uid eq is_login()">我<else/>TA</if>的粉丝({$fans_totalCount|default=0})
            </div>
            <div class="uc_fl_right uc_more_link"><a href="{:U('fans',array('uid'=>$uid))}">更多</a></div>
        </div>
        <div class="col-md-12 uc_link_info">
            <volist name="fans_default" id="fs">
                <div class="col-sm-3 col-xs-4">
                    <dl>
                        <a href="{$fs.user.space_url}">
                            <dt><img ucard="{$fs.user.uid}" src="{$fs.user.avatar64}" class="avatar-img img-responsive">
                            </dt>
                            <dd ucard="{$fs.user.uid}" class="text-more" style="width: 100%">{$fs.user.nickname}</dd>
                        </a>
                    </dl>
                </div>
            </volist>
            <if condition="count($fans_default) eq 0"><p style="text-align: center; font-size: 24px;">
                <br><br>
                暂无粉丝哦～
                <br><br><br>
            </p></if>
        </div>
    </div>
</div>