<!DOCTYPE HTML>
<html>
<head>
<include file="Public/head" />
<link href="__CSS__/listview.css" rel="stylesheet" />
</head>
<body>
	<include file="Public/header" />
	<div id="main-container" class="container">
		<div class="row">
			<!-- 左边 -->
			<div class="col-xs-9">
				<div class="row">
					<div class="col-xs-12">

						<div class="column-content">
							<div class="game-category-area">
								<ul>
									<volist name="games" id="game">
									<li <if condition="$game['id'] eq $gameid">
										class="selected"</if>><a href="{:U('/team/list/'.$game['id'])}"
										title="{$game.title}">{$game.title}</a></li>
									</li>
									</volist>
								</ul>
							</div>
						</div>


						<div class="team-list column-content">
							<ul>
								<volist name="_list" id="team">
								<li>
									<div class="cl">
										<div class="team-icon">

											<a href="{:U('/team/'.$team['id'])}"> <img
												src="__PUBLIC__/Core/images/placeholder.png"
												lazy-src="{$team.cover|get_cover=url}" width="80"
												height="80">
											</a>
										</div>
										<div class="team-info">

											<div>
												<a href="{:U('/team/'.$team['id'])}">{$team.name}</a>
											</div>

											<div class="pull-left">
												<div>成员: {$team.members}人</div>

												<div>游戏: {:get_game($team['game_id'],'title')}</div>
											</div>

										</div>
									</div>
								</li>
								</volist>
							</ul>
						</div>




					</div>



				</div>

				<div class="row">

					<div class="pull-right">
						<div class="page">{$_page}</div>
					</div>
				</div>
			</div>
			<!-- 右边 -->
			<div class="col-xs-3">
				<div>

					<div class="right-want-box">
						<div class="row">
							<div class="col-xs-2">
								<span class=" glyphicon glyphicon-facetime-video want-box-icon "></span>
							</div>
							<div class="col-lg-4">
								<a href="#" class="want-box-text" rel="nofollow">我要约战</a>
							</div>
							<div class="col-xs-1">
								<span class="glyphicon glyphicon-share want-box-share-icon "></span>
							</div>
							<div class="col-xs-4">
								<a href="#" class="want-box-text" rel="nofollow">分享视频</a>
							</div>
						</div>
					</div>
					{:W('IndexMatchGame/lists')}

				</div>
			</div>
		</div>


	</div>
	<script type="text/javascript">
		$(function() {
			$(window).resize(
					function() {
						$("#main-container").css("min-height",
								$(window).height() - 343);
					}).resize();
		});
	</script>
	<!-- /主体 -->

	<!-- 底部 -->
	<include file="Public/footer" />
	<!-- /底部 -->
</body>
</html>