<!DOCTYPE HTML>
<html>
<head>
<include file="Public/head" />
<link href="__CSS__/view.css" rel="stylesheet" />
</head>
<body>
	<include file="Public/header" />
	<div id="main-container" class="container">
		<div class="row">
			<!-- 左边 -->
			<div class="col-xs-9">
				<div class="row">

					<div class="col-xs-12">
						<div class="team-info">
							<div class="team-icon">
								<a href="{:U('/team/'.$team['id'])}"> <img
									src="__PUBLIC__/Core/images/placeholder.png"
									lazy-src="{$team.cover|get_cover=url}" height="80" width="80" />
								</a>
							</div>
							<div class="pull-left team-info">
								<div class="title">
									<h4>{$team.name}</h4>
								</div>

								<div class="team-navs">
									<a id="nav-home" class="team-nav team-nav-current"
										href="{:U('/team/'.$teamid)}">首页</a> <a id="nav-video"
										class="team-nav" href="{:U('/team/video/'.$teamid)}">视频</a> <a
										id="nav-album" class="team-nav"
										href="{:U('/team/forum/'.$teamid)}">论坛</a> <a id="nav-album"
										class="team-nav" href="{:U('/team/album/'.$teamid)}">专辑</a> <a
										id="nav-album" class="team-nav"
										href="{:U('/team/match/'.$teamid)}">比赛</a>
								</div>
							</div>
							<div class="pull-right">

								<div class="follow">
									<a href="javascript:;" class="btn-team-subscription"
										id="mod_follow_btn" data-value="1">+ 订阅</a>

								</div>

								<div class="join">

									<a href="javascript:;" class="btn-team-join"
										id="mod_follow_btn" data-value="1">加入</a>
								</div>
							</div>

						</div>


						<div class="member-list column-content">
							<ul>
								<volist name="members" id="member">
								<li>
									<div class="member-avatar">
										<a href="{:U('/u/'.$member['uid'])}"><img
											src="__PUBLIC__/Core/images/placeholder.png"
											lazy-src="{$member['avatar']}" width="68" height="68"></a>
									</div>
									<div class="member-info">
										<div class="">
											<a href="{:U('/u/'.$member['uid'])}">{$member.username}</a>
										</div>
										<div class="">{$member.place}</div>
										<div class="">{$member.hero}</div>
									</div>
								</li>
								</volist>
							</ul>
						</div>

						<if condition="$videos"> <if condition="$members">
						<div class="column-content">
							<div class="column-content-title">
								<i class="title-tip-box"></i> <span class="title-tip"><a
									href="{:U('/team/video/'.$team['id'])}">最新比赛视频</a></span> <span
									class="pull-right"> <a
									href="{:U('/team/video/'.$team['id'])}">更多视频</a></span>
							</div>
						</div>
						</if>
						<div class="column-content">
							<div class="video-list">
								<ul>
									<volist name="videos" id="video">
									<li>
										<div class="video-thumb">
											<a href="{:U('/video/'.$video['id'])}"> <img
												src="__PUBLIC__/Core/images/placeholder.png"
												lazy-src="{:query_picture('url',$video['cover'])}"
												alt="{$video['title']}" width="216px" height="120px">
											</a>
											<div class="video-name">
												<span>{$video['title']}</span>
											</div>
										</div>
										<div class="video-des">
											<span class="pull-left"> <span
												class="glyphicon glyphicon-facetime-video "></span> <span
												class="game-des-online">{$video['views']}人</span></span> <span
												class="pull-right ">
												{:get_game($video['game_id'],'title')} </span>
										</div>
									</li>
									</volist>
								</ul>
							</div>
						</div>
						</if>


						<if condition="$posts">

						<div class="column-content">
							<div class="column-content-title">
								<i class="title-tip-box"></i> <span class="title-tip"><a
									href="{:U('/team/forum/'.$team['id'])}">最新话题</a></span> <span
									class="pull-right"> <a
									href="{:U('/team/forum/'.$team['id'])}">更多话题</a></span>
							</div>
						</div>
						<div class="column-content">
							<div class="forum-list">
								<ul>
									<volist name="posts" id="post">
									<li><a href="{:U('/Team/Forum/detail/id/'.$post['id'])}"> <span
											class="pull-left">{$post.title}</span><span
											class="pull-right">{$post.forum_name}</span>
									</a></li>
									</volist>
								</ul>
							</div>
						</div>

						</if>

					</div>
				</div>
			</div>
			<!-- 右边 -->
			<div class="col-xs-3">
				<div>


					<div class="right-want-box">
						<div class="row">
							<div class="col-xs-2">
								<span class=" glyphicon glyphicon-flash want-box-icon "></span>
							</div>
							<div class="col-lg-4">
								<a href="#" class="want-box-text" rel="nofollow">我要约战</a>
							</div>
							<div class="col-xs-1">
								<span
									class="glyphicon glyphicon-facetime-video  want-box-share-icon "></span>
							</div>
							<div class="col-xs-4">
								<a href="#" class="want-box-text" rel="nofollow">我要直播</a>
							</div>
						</div>
					</div>


{:W('TeamSide/hot',array($teamid))}


				</div>
			</div>
		</div>


	</div>
	<script type="text/javascript">
		$(function() {
			$(window).resize(
					function() {
						$("#main-container").css("min-height",
								$(window).height() - 280);
					}).resize();
		});
	</script>
	<!-- /主体 -->

	<!-- 底部 -->
	<include file="Public/footer" />
	<!-- /底部 -->
</body>
</html>