<eq name="type" value="personal">
    <div class="form-group">
        <label for="expand_{$field_id}" class="col-sm-2 control-label" style="text-align: right;">
            <eq name="required" value="1"><span style="color: #FF0047;vertical-align: middle;">*&nbsp;&nbsp;</span></eq>{$field_name}
        </label>

        <div class="col-sm-6">
            <select class="form-control" id="expand_{$field_id}" name="expand_{$field_id}">
                <volist name="items" id="vl">
                    <option value="{$vl.value}" {$vl.selected}>{$vl.value|htmlspecialchars}</option>
                </volist>
            </select>
            <div class="clearfix"></div>
            <neq name="input_tips" value=""><span class="input-tips">{$input_tips}</span></neq>
        </div>
    </div>
    <else/>
    <dt class="expandinfo-dt">
        {$field_name}：
    </dt>
    <dd class="expandinfo-dd">
        {$selected|htmlspecialchars}
    </dd>
</eq>
<div class="clearfix"></div>