<!DOCTYPE HTML>
<html>
<head>
<include file="Public/head" />
<link href="__CSS__/index.css" rel="stylesheet" />
</head>
<body>
	<include file="Public/header" />
	<div id="main-container" class="container">
		<div class="row">

			<!-- left side -->
			<div class="col-xs-9">
				<div class="row">
					<div class="col-xs-12  column-content">
						<div class="column-content-title">
							<i class="title-tip-box"></i> <span class="title-tip">最新比赛</span>
						</div>
					</div>
					<div class="col-xs-12  column-content">
						 
						 <div class="guess-list">
							<ul>
								<volist name="_list" id="guess">
								<li class="guess-item">
									<div class="guess-item-content">
										<div class="col-xs-4">
											<if condition="$guess['blue_team']"> <a
												href="{:U('/matchgame/'.$guess['id'])}"> <img
												src="__PUBLIC__/Core/images/placeholder.png"
												lazy-src="{:query_team('cover',$guess['blue_team'])}"
												alt="{$video['title']}" width="50" height="50">
											</a> <else />
											<div class="vs">弃权</div>
											</if>
										</div>
										<div class="col-xs-4 vs">VS</div>
										<div class="col-xs-4">
											<if condition="$guess['red_team']"> <a
												href="{:U('/matchgame/'.$guess['id'])}"> <img
												src="__PUBLIC__/Core/images/placeholder.png"
												lazy-src="{:query_team('cover',$guess['red_team'])}"
												alt="{$video['title']}" width="50" height="50">
											</a> <else />
											<div class="vs">弃权</div>
											</if>
										</div>
									</div>
									<div class="guess-team-name">
										<ul>
											<li><if condition="$guess['blue_team']">
												<a href="{:U('/matchgame/'.$guess['id'])}">{:query_team('name',$guess['blue_team'])}</a>
												<else /> 弃权 </if></li>
											<li></li>
											<li><if condition="$guess['red_team']"> <a
													href="{:U('/matchgame/'.$guess['id'])}">{:query_team('name',$guess['red_team'])}</a>
												<else /> 弃权 </if></li>
										</ul>
									</div>
									<div class="guess-item-des">
										<ul>
											<li><span class="pull-left"><a
													href="{:U('/matchgame/'.$guess['id'])}">{:get_game($guess['game_id'],'title')}</a></span>
												<span class="pull-right">{:date('m-d
													H:i',$guess['start_time'])}</span></li>
											<li><span class="pull-left"><a
													href="{:U('/matchgame/'.$guess['id'])}">{:query_match('title',$guess['match_id'])}</a></span>
												<span class="pull-right"><a class="submit-guess"
													href="{:U('/matchgame/'.$guess['id'])}">竞猜</a></span></li>
										</ul>
									</div>
								</li>
								</volist>
							</ul>
						</div>
						 
						 
						 
					</div>
					<div class="pull-right">
					<div class="page">{$_page}</div>
					</div>
				</div>
			</div>

			<!-- right side -->
			<div class="col-xs-3">
				<div>
					<div class="row">
						<div class="col-xs-12  column-content">
							<div class="column-content-title">
								<i class="title-tip-box"></i> <span class="title-tip">热门比赛</span> <span class="pull-right"> <a href="{:U('/matchgame/index')}">更多比赛</a></span>
							</div>

							{:W('HotMatchGame/lists')}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript">
		$(function() {
			$(window).resize(
					function() {
						$("#main-container").css("min-height",
								$(window).height() - 343);
					}).resize();
		});
	</script>
	<!-- /主体 -->
	<!-- 底部 -->
	<include file="Public/footer" />
	<!-- /底部 -->
</body>
</html>