<div class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-logo" href="http://www.quntiao.com"> <img
				src="__PUBLIC__/Core/images/quntiao-logo.png" />
			</a>
		</div>
		<div>
			<ul class="nav navbar-nav " style="font-size: 16px">
				<li><a href="{:U('/competition/index')}">比赛</a></li>
		
				<li><a href="{:U('/fight/index')}">约战</a></li>
				<li><a href="{:U('/live/index')}">直播</a></li>
				<li><a href="{:U('/video/index')}">视频</a></li>
				<li><a href="{:U('/team/index')}">战队</a></li>
				<li><a href="{:U('/shop/index')}">商城</a></li>
				<li><a href="{:U('/client/index')}" rel="nofollow">客户端</a></li>
			</ul>
			<form id="frm_search" class="navbar-form navbar-left " role="search"
				method="post" action="/">
				<div class="form-group form-control"
					style="border-radius: 2em; padding-right: 0; margin-top: 5px; padding-top: 5px;">
					<input id="search_keywords" type="text" name="keywords" class=""
						style="border: none; width: 82%; outline: none;"
						placeholder="输入关键字"> <i id="sbt_search"
						style="color: rgb(72, 184, 122)"
						class="glyphicon glyphicon-search"></i>
				</div>
			</form>
			<if condition="is_login()">
			<ul class="nav navbar-nav navbar-right">

				<li class="dropdown op_nav_ico ">
					<ul class="dropdown-menu extended notification">
						<li style="padding-left: 15px; padding-right: 15px;">
							<div class="row nav_info_center">
								<div class="col-xs-9 nav_align_left">
									<span id="nav_hint_count">{:count($unreadMessage)}</span> 条未读
								</div>
								<div class="col-xs-3">
									<i onclick="setAllReaded()"
										class="set_read glyphicon glyphicon-ok" title="全部标为已读"></i>
								</div>
							</div>
						</li>
						<li>
							<div
								style="position: relative; width: auto; overflow: hidden; max-height: 250px">
								<ul id="nav_message" class="dropdown-menu-list scroller "
									style="width: auto;">
									<if condition="count($unreadMessage) eq 0">
									<div
										style="font-size: 18px; color: #ccc; font-weight: normal; text-align: center; line-height: 150px">
										暂无任何消息!</div>
									<else /> <volist name="unreadMessage" id="message">
									<li><a data-url="{$message.url}"
										onclick="readMessage(this,{$message.id})"> <i
											class="glyphicon glyphicon-bell"></i> {$message.title} <span
											class="time"> {$message.ctime} </span>
									</a></li>
									</volist> </if>

								</ul>
							</div>

						</li>
						<li class="external"><a
							href="{:U('Usercenter/Message/message')}"> 查看全部 <i
								class="glyphicon glyphicon-circle-arrow-right"
								style="background: none; color: rgb(72, 184, 122)"></i>
						</a></li>
					</ul> <script>
                $(function () {
                    $('.scroller').slimScroll({
                        height: '150px'
                    });
                });
            </script> <a id="nav_info dropdown-toggle " data-toggle="dropdown"><i
						class="glyphicon glyphicon-bullhorn"></i> <span
						id="nav_bandage_count"<if
								condition="count($unreadMessage) eq 0"> style="display:
							none"</if> class="badge pull-right">{:count($unreadMessage)}</span> &nbsp; </a>
				</li>


				<li class="dropdown"><php> $common_header_user =
					query_user(array('avatar')); </php> <a role="button"
					class="dropdown-toggle" data-toggle="dropdown"> <img
						src="{$common_header_user['avatar']}" class="navbar-avatar-img" />
				</a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="{:U('UserCenter/Index/index')}"><span
								class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;个人中心</a></li>
						<li><a href="{:U('UserCenter/Message/session')}"><span
								class="glyphicon glyphicon-send"></span>&nbsp;&nbsp;我的会话</a></li>
						<li><a href="{:U('UserCenter/Forum/myTopic')}"><span
								class="glyphicon glyphicon-book"></span>&nbsp;&nbsp;我的主题</a></li>
						<li><a href="{:U('UserCenter/Forum/myTakePartIn')}"><span
								class="glyphicon glyphicon-comment"></span>&nbsp;&nbsp;我的参与</a></li>
						<li><a href="{:U('UserCenter/Forum/myBookmark')}"><span
								class="glyphicon glyphicon-bookmark"></span>&nbsp;&nbsp;我的收藏</a></li>
						<if condition="is_administrator()">
						<li><a href="{:U('Admin/Index/index')}" target="_blank"><span
								class="glyphicon glyphicon-dashboard"></span>&nbsp;&nbsp;管理后台</a></li>
						</if>
						<li><a event-node="logout"><span
								class="glyphicon glyphicon-off"></span>&nbsp;&nbsp;注销</a></li>
					</ul></li>
			</ul>
			<else />
			<ul class="nav navbar-nav navbar-right">
				<!--登录注册-->
				<li><a href="{:U('/user/login')}" rel="nofollow">登录</a></li>
				<li><a href="{:U('/user/reg')}" rel="nofollow">注册</a></li>
			</ul>
			</if>
		</div>
	</div>
</div>
<a id="goTopBtn"></a>