@CHARSET "UTF-8";

#focus {
	width: 597px;
	height: 232px;
	overflow: hidden;
	position: relative;
}

#focus ul {
	height: 232px;
	position: absolute;
}

#focus ul li {
	float: left;
	width: 597px;
	height: 232px;
	overflow: hidden;
	position: relative;
	background: #000;
}

#focus ul li div {
	position: absolute;
	overflow: hidden;
}

/*#focus .btnBg{position:absolute;width:585px;height:20px;left:0;bottom:0;background:#000;}*/
#focus .focusbtn {
	position: absolute;
	width: 450px;
	height: 20px;
	padding: 5px 10px;
	right: 10px;
	bottom: 10px;
	text-align: right;
	font-size: 12px;
}

#focus .focusbtn span {
	display: inline-block;
	_display: inline;
	_zoom: 1;
	width: 14px;
	height: 14px;
	line-height: 14px;
	text-align: center;
	border: #F3F3F3 1px solid;
	margin-left: 5px;
	cursor: pointer;
	background: #FEFEFE;
	color: #666666;
}

#focus .focusbtn span.on {
	background: #47AB56;
	color: #fff;
	border: #76BE2F 1px solid;
}

/*#focus .preNext{width:45px;height:100px;position:absolute;top:90px;background:url(img/sprite.png) no-repeat 0 0;cursor:pointer;}*/
#focus .pre {
	left: 0;
}

.match-list li {
	margin-bottom: 4.6%;
}

.match-list .match-des {
	background-color: #F5F5F5;
	height: 58px;
	padding: 2%;
	color: #999;
	font-size: 1.0em;
	overflow: hidden;
	width: 100%;
}

.game-list {
	margin-left: -1%;
}

.game-des {
	background: #48b87a;
	height: 28px;
	padding: 2%;
	font-size: 1.0em;
	color: #ffffff;
}

.game-list li {
	float: left;
	width: 19%;
	margin-left: 1%;
}

.game-list li image {
	width: 100%;
}

.fighter-list li {
	margin-bottom: 4%;
	width: 100%;
	height: 80px;
	display: block;
	border: 1px #eee solid;
	box-shadow: 0 0 4px rgba(217, 217, 217, .8);
}

.fighter-list .avatar {
	width: 80px;
	height: 80px;
	float: left;
	display: block;
}

.fighter-list .fighter-info {
	float: right;
	margin-left: 4px;
	display: block;
	width: 190px;
	height: 80px;

}

.fighter-info {
	line-height: 24px;
}

.fighter-invite {
	height: 30px;
	width: 30px;
	border-radius: 1.0em;
	box-shadow: 0 0 4px rgba(217, 217, 217, .8);
	background: #48b87a;
	margin-right: 6px;
	text-align: center;
	line-height: 30px;
}

.fighter-invite:hover {
	background-color: #307E54;
}

.fighter-invite a {
	color: #fff;
}

.fighter-invite a:hover {
	color: #fff;
}

.fight-list {
	margin-left: -2%;
}

.fight-des {
	background: #F5F5F5;
	height: 28px;
	padding: 2%;
	font-size: 1.0em;
	color: #999;
}

.fight-list li {
	float: left;
	width: 23%;
	margin-left: 2%;
	margin-bottom: 2%;
	border: 1px #eee solid;
	box-shadow: 0 0 4px rgba(217, 217, 217, .8);
}

.fight-list li .fight-info {
	height: 69px;
	display: block;
	
}

.fight-list li image {
	width: 100%;
}

.fight-list li .fight-info-member {
	float: left;
	width: 33.33333333%;
}
.fight-info-name
{
	height:20px;
	display:block;
	line-height:20px;
	clear:both;
}

.fight-list li .fight-member-name
{
	float: left;
	width: 33.33333333%;
	overflow:hidden;
	height:20px;
	display:block;
	text-align:center;
}
.fight-list li .fight-member-name a
{
	font-size:12px;
	height:20px;
	display:block;
}
.fight-list li .vs {
	font: normal 26px/50px "simhei";
	letter-spacing: -2px;
	color: #aaa;
	text-align: center;
	margin: 0 auto;
	line-height: 80px;
}

.fight-list li .fight-invite {
	height: 48px;
	width: 48px;
	border-radius: 10.0em;
	box-shadow: 0 0 4px rgba(217, 217, 217, .8);
	background: #48b87a;
	text-align: center;
	line-height: 48px;
	margin-top:11px;
	display: block;
}

.fight-list li .fight-invite:hover {
	background-color: #307E54;
}

.fight-list li .fight-invite a {
	color: #fff;
	font-size: 24px;
}
.fight-list li .fight-des
{
	padding:4px;
}
.fight-list li .fight-coin
{
	float:left;
	
}
.fight-list li .fight-game
{
	float:right;
	
}

.forum_post_btn {
	height: 38px;
	width: 100%;
	font-size: 18px;
}